#  **K-Nearest Neighbour (KNN)**

### **Import the Libraries**

In [1]:
import numpy as np
import pandas as pd
import numpy as np
from sklearn import preprocessing

### **Read the Data using Pandas Dataframe**

In [2]:
df = pd.read_csv("teleCust1000t.csv")
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

### **See the number of customers assigned to each category**

In [3]:
print(df['custcat'].value_counts())

3    281
1    266
4    236
2    217
Name: custcat, dtype: int64

### **See the features for customer segmentation**

In [4]:
print(df.columns)

Index(['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed',
       'employ', 'retire', 'gender', 'reside', 'custcat'],
      dtype='object')

### **Select some features and the target label**

In [5]:
X = df[['region', 'tenure','age', 'marital', 'address', 'income', 'ed', 'employ','retire', 'gender', 'reside']] .values  #.astype(float)

y = df['custcat'].values

### **Convert the feature into scalar vectors**

In [6]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))

### **Create the test and train set**

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (800, 11) (800,)
Test set: (200, 11) (200,)

## **Model train and Evaluation**

### **Import the model and determine the best k value for the model**

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
k = 10
mean_acc = np.zeros((k-1))
ConfustionMx = [];
for i in range(1,k):  
    neigh = KNeighborsClassifier(n_neighbors = i).fit(X_train,y_train)
    y_hat=neigh.predict(X_test)
    mean_acc[i-1] = metrics.accuracy_score(y_test, y_hat)

# print(mean_acc)
print( "The best accuracy was with", mean_acc.max(), "with k=", mean_acc.argmax()+1)

The best accuracy was with 0.34 with k= 9